/* Referenciar o arquivo respond.js para compatibilizar o media queries com browsers antigos. */

/* XS */
@media screen and (max-width: 768px) {
    .texto-capa h1{
        font-size:50px;           
    }

    .btn-spotify{
        margin: 0px 5px 10px 5px;
        padding: 5px 15px;
       
    }
}

/* SM */
@media screen and (min-width: 768px) {
    .texto-capa h1{
        font-size: 70px;
    }
}

/* MD */
@media screen and (min-width: 992px) {
    .texto-capa h1{
        font-size: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .texto-capa h1{ 
         font-size: 100px;
    }
}